@if (Context.User.Identity.IsAuthenticated)
{
@*    <li class="text-white">
        <p>@Context.User.Identity.Name</p>
    </li>
*@

    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-controller="Login" asp-action="Logout"><i class="bi bi-box-arrow-in-left">Sair</i></a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
    </li>
}