@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (Model.ExisteMensagemDeErro)
{
    <h4>
        <strong>Houve um erro no caminho informado.</strong> <code>@Model.MensagemDeErro</code>
    </h4>
}

<h3>Você foi redirecionando pelo Middleware Global de tratamento de exceção</h3>

