    <div class="container ">
      <div class="row p-4 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-5 ">
          <h1 class="display-4 fw-bold lh-1">Curso arquitetura limpa</h1>
          <p class="">
                A ideia principal na Arquitetura Limpa é tornar a solução adaptável, manter o negócio principal ou os casos de uso da lógica do aplicativo independente de front-end e estruturas externas. Em resumo, podemos delinear os seguintes resultados da arquitetura limpa,
          </p>
            <ul>
                <li>
                    <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Independente da interface do usuário</font></font></strong><br><font style="/* vertical-align: inherit; */">
                        <font style="vertical-align: inherit;">
                            Usando uma arquitetura limpa, devemos ser capazes de alterar facilmente as camadas da interface do usuário ou da apresentação, sem alterar a camada do aplicativo e assim por diante.
                        </font><font style="vertical-align: inherit;">A interface do usuário pode ser de qualquer estrutura front-end ou interface do usuário do console, qualquer web e pode ser substituída sem alterar as outras camadas ou o resto do sistema.</font>
                    </font>
                </li>
                <li>
                    <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Banco de dados independente</font></font></strong><br><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            A arquitetura deve ser flexível o suficiente para trocar o banco de dados sem afetar os casos de uso e as entidades do aplicativo.
                        </font><font style="vertical-align: inherit;">A solução pode alternar o conjunto de dados para MS SQL, MySQL, Oracle, MongoDB ou qualquer outro.</font>
                    </font>
                </li>
                <li>
                    <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Independente de agências/bibliotecas/drivers externos</font></font></strong><br><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            As regras de negócios devem ser independentes de partes ou agências externas.
                        </font>
                    </font>
                </li>
                <li>
                    <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Independente de Framework</font></font></strong><br><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            O core business ou as regras de aplicação devem ser independentes da existência de frameworks, bibliotecas para o futuro.
                        </font><font style="vertical-align: inherit;">Podemos incluir as estruturas, mas como ferramentas, e a solução não deve ser totalmente dependente delas.</font>
                    </font>
                </li>
                <li>
                    <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Testável</font></font></strong><br><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            A arquitetura deve estar em conformidade com o teste do aplicativo principal e casos de negócios e regras sem a interface do usuário, banco de dados, servidor Web ou qualquer componente externo.
                        </font>
                    </font>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 align-self-start offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3 img-fluid" src="https://f4n3x6c5.stackpathcdn.com/article/what-is-clean-architecture/Images/What%20is%20Clean%20Architecture2.png" alt="" >
        </div>
        <div class="d-grid d-md-flex justify-content-md-end mt-3 ">
            <a href="https://www.udemy.com/course/clean-architecture-essencial-asp-net-core-com-c/" target="_blank" class="btn btn-outline-info btn-lg px-4 fw-bold">Acessar Curso</a>
        </div>
      </div>
    </div>
    